<div class="container">
  <div class="jumbotron mt-5">
    <div class="col-sm-8 mx-auto">
      <h1 class="text-center">Resources:</h1>
    </div>
    <table *ngFor="let resource of resources" class="table col-md-6 mx-auto">
        <tr>
          <td><b>Name</b></td>
          <td>{{ resource.name }}</td>
        </tr>
        <tr>
          <td><b>Description</b></td>
          <td>{{ resource.description }}</td>
        </tr>
        <tr>
          <td><b>Link</b></td>
          <td><a href="{{ resource.link }}">{{ resource.link }}</a></td>
        </tr>
    </table>
  </div>
</div>